@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Este es un ejemplo de sistema CRUD para manejar una base de datos, permitiendo agregar, eliminar y modificar datos.</p>
