@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Claudio Delgado</h3>

<address>
    C/1era. #63<br />
    Villas del cafe II, Santo Domingo Oeste<br />
    <abbr title="Phone">P:</abbr>
    829-882-0999
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:claudio.delgado.martinez@gmail.com">Mail</a><br />
    
</address>